*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-image:radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://i.pinimg.com/originals/5a/d4/7a/5ad47aae12355d55c86bcb408d88ba08.jpg");
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
}
.menu>.btn{
    height:50px ;
    width: 200px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: transparent;
}
.menu>.btn>button{
    height: 100%;
    width: 100%;
    border: 3px solid rgb(214, 183, 2);
    border-radius: 10px;
    background-color: rgba(0,0,0,.2) ;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 10px white;
    font-weight: 600;
}