*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.table{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #eceaea;
    flex-direction: column;
    align-items: center;

}
.table>section{
    height: 100%;
    width: 90%;
    background-color: rgba(199, 195, 195, 0.703);
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: #eceaea;
    flex-direction: column;
    align-items: center;
}
.table>section>div{
    height: 10%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: #eceaea;
    align-items: center;
}
